<div class="display-block">
    <div id="page-banner-area" class="page-banner">
        <div class="page-banner-title">
            <div class="text-center">
                <!-- <h2>PROPERTIES</h2> -->
                <span class="crumbs-spacer"> <a [routerLink]="[ '/']"><i class="material-icons">home</i>Home</a></span>
                <span class="crumbs-spacer"><i class="lni-chevron-right"></i></span>
                <span class="crumbs-spacer"><a [routerLink]="[ '/user/marketplace']">Marketplace</a></span>
            </div>
        </div>
    </div>
</div>

<div class="host-display">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
        <div fxFlex="100" fxFlex.xs="100">
            <h1 class="page-header">Marketplace</h1>
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="15px" fxLayoutGap.xs="10">
                <div fxFlex="23" fxFlex.xs="50" *ngFor="let prop of global_dataSource" class="m-t-15">
                    <!-- <mat-card class="example-card" [routerLink]="['/user/marketplace/viewproperty/',prop.propertyId]"> -->
                    <mat-card class="example-card">
                        <div [routerLink]="['/user/marketplace/viewproperty/',prop.propertyId]" class="ot">
                            <ng-template [ngIf]="!loading">
                                <script>
                                    debugger;
                                </script>
                                <img mat-card-image class="property-img" [src]="prop.image[0]" onError="this.src='../../../../assets/images/avatars/property-1.jpg';">
                            </ng-template>

                            <mat-card-title class="property-title">{{prop.name}}</mat-card-title>

                            <mat-card-content>
                                <div class="adderess" *ngIf="prop.address">
                                    <mat-icon>location_on</mat-icon><span>{{prop.address.city}},{{prop.address.state}},{{prop.address.country}}</span>
                                </div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>{{prop.value | currency : 'INR': true}}</span>
                                    </div>
                                    <p><span>{{prop.area}} Sqft</span></p>
                                </div>
                                <p> Status : <span class="accent">{{this.status_msg_dict[prop.status]}}</span>
                                </p>
                            </mat-card-content>
                        </div>
                        <form #usermarketplaceForm="ngForm" class="delist">

                            <!-- <button mat-button fxFlex color="accent" *ngIf="this.status_msg_dict[prop.status]==='Listed'" && *ngIf="property.addedBy && property.addedBy = currentUser.email" (click)="Delist(prop)">De-List from Marketplace</button> -->
                            <button mat-button color="accent" class="p-0" *ngIf="this.status_msg_dict[prop.status]==='Listed' && prop.listedBy && prop.listedBy===currentUser.email" (click)="Delist(prop)"><mat-icon>delete_sweep</mat-icon>DELIST</button>

                        </form>
                    </mat-card>
                </div>
            </div>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <!-- <div fxFlex="25" fxFlex.xs="100">
            <h1 class="page-header">Filter</h1>
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.xs="10">
                <div fxFlex class="m-t-15">
                    <mat-card>
                        <mat-card-content>
                            <form>
                                <mat-form-field class="display-block">
                                    <input matInput placeholder="Keyword">
                                </mat-form-field>
                                <mat-form-field class="display-block">
                                    <input matInput placeholder="Property Type">
                                </mat-form-field>
                                <mat-form-field class="display-block">
                                    <input matInput placeholder="Description">
                                </mat-form-field>
                                <mat-form-field class="display-block">
                                    <input matInput placeholder="Contract">
                                </mat-form-field>
                                <mat-form-field class="display-block">
                                    <input matInput placeholder="Location">
                                </mat-form-field>
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <button mat-raised-button fxFlex color="accent">Search</button>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div> -->
    </div>
</div>