.footer {
    background: #263238;
    color: #80cbc4;
    line-height: 36px;
    padding: 0 20px;
    font-size: 12px;
  
    a {
      color: #80cbc4;
      cursor: pointer;
    }
  }
  .footer-sticky{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #263238;
    color: #80cbc4;
    line-height: 36px;
    padding: 0 20px;
    font-size: 12px;

    a {
      color: #80cbc4;
      cursor: pointer;
    }
  }
  