#page-banner-area {
    background: url(../../../../assets/images/approvals.jpg) no-repeat;
    //background: url(../../../../assets/images/trasfer.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

@import '../../../../scss/marketplace.scss';
.color-green {
    color: green;
}

.color-yellow {
    color: rgb(253, 82, 15);
}