@import '../../../../scss/marketplace.scss';
#page-banner-area {
    background: url(../../../../assets/images/banner.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.example-header-image-doc {
    background-image: url(../../../../assets/images/avatars/connection.png);
    background-size: cover;
}

.example-header-image-property {
    background-image: url(../../../../assets/images/avatars/notes.png);
    background-size: cover;
}

.example-header-image-crtf {
    background-image: url(../../../../assets/images/avatars/winner.png);
    background-size: cover;
}

.example-header-image-doc-tax {
    background-image: url(../../../../assets/images/avatars/tax.png);
    background-size: cover;
}

.list {
    background-image: url(../../../../assets/images/avatars/list.png);
}

.sold {
    background-image: url(../../../../assets/images/avatars/sold.png);
}

.approve {
    background-image: url(../../../../assets/images/avatars/approved.png);
}

.reject {
    background-image: url(../../../../assets/images/avatars/reject.png);
}

.review {
    background-image: url(../../../../assets/images/avatars/review.png);
}