<div class="container">
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="m-t-15">
        <div fxFlex.gt-sm='70'>
            <mat-card class="mat-elevation-z4">
                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step>
                        <ng-template matStepLabel>Wallet Details</ng-template>
                        <form #walletForm="ngForm">
                            <mat-form-field class="display-block">
                                <input matInput placeholder="User ID" [(ngModel)]="user.id" name="id" #id="ngModel" [readonly]="readOnly" required>
                            </mat-form-field>

                            <mat-form-field class="display-block">
                                <input matInput placeholder="Wallet Address" [(ngModel)]="user.walletAddress" name="walletAddress" #walletAddress="ngModel" [readonly]="readOnly" required>
                            </mat-form-field>
                            <div>
                                <button mat-raised-button fxFlex (click)="openDialog()" color="accent">Get Wallet Balance</button>
                                <!-- <button fxFlex="10" mat-raised-button fxFlex color="accent" (click)="getbalance()">Submit</button> -->
                            </div>

                        </form>
                        <div>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Deposit Balance</ng-template>
                        <br><br><br><br>
                        <form #walletForm="ngForm">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button fxFlex mat-raised-button color="accent" (click)="updatewallet()">Request for Balance</button>
                            </div>
                        </form>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-card>
        </div>
    </div>
</div>