<div id="footer" class="footer">
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="footer-bottom-inner" fxLayout="row">
                <div class="row" fxFlex fxLayoutAlign="center">
                    <div class="widget col-sm-4" fxFlex="30">
                        <h2>Garuda</h2>
                        <p>
                            © Copyright {{year}}. Created by <a href="http://cognierblock.com/" target="_blank">COGNIER Insights Pvt Ltd</a>.<br> All rights reserved.
                        </p>
                        <ul class="clearfix sharing-buttons">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/Cognier-Insights-Pvt-Ltd-819820981516634/" target="_blank">
                                    <!-- <i class="fa fa-facebook fa-left"></i> -->
                                    <span class="social-name">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a class="google-plus" href="https://www.linkedin.com/company/cognier-insights/" target="_blank">
                                    <!-- <i class="fa fa-google-plus fa-left"></i> -->
                                    <span class="social-name">Linkedin</span>
                                </a>
                            </li>
                            <li>
                                <a class="twitter" href="https://twitter.com/cognierinsights" target="_blank">
                                    <!-- <i class="fa fa-twitter fa-left"></i> -->
                                    <span class="social-name">Twitter</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget col-sm-4" fxFlex="30">
                        <h2>Contact Information</h2>
                        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
                            <div>
                                <p class="para">
                                    <mat-icon class="icon-footer">place</mat-icon> <strong>Address:</strong> Vindhya C4,CIE, C3, 208, <br>IIIT-Hyderabad, Gachibowli,<br>Hyderabad - 500 032, <br>Telangana, India.</p>
                            </div>
                            <div>
                                <p class="para">
                                    <mat-icon class="icon-footer  mb">phone</mat-icon> <strong>Phone:</strong> +91-916 000 0748</p>
                            </div>
                            <div>
                                <p class="para">
                                    <mat-icon class="icon-footer  mb">email</mat-icon> <strong>Email:</strong> info@cognier.co</p>
                            </div>
                        </div>
                        <!-- <p>Effectivity Real Estate<br> Wardrobe Street 90210, London<br> E-mail: <a href="mailto:">info@example.com</a><br> Phone: +000-123-456-789</p> -->
                    </div>

                    <div class="widget col-sm-4" fxFlex="30">
                        <h2>About Garuda</h2>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu vulputate tellus. Proin eget quam odio. Maecenas nec ultrices urna. Mauris nec tempus libero.
                        </p>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.footer-bottom-inner -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.footer-bottom -->


    <!-- /.footer-bar -->
</div>