.main {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //background-image: url('../../../../assets/certificate.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.revoked:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: absolute;
    //background-image: url('../../../../assets/images/expired.png');
    background-repeat: no-repeat;
    // top: 6%;
    // left: 12%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
}

.revoked {
    .title {
        color: #353535;
    }
    .sub-title {
        color: #353535;
        color: #006aff;
    }
    .p-1 {
        color: #353535;
        font-weight: 600;
    }
    span {
        color: #006aff;
    }
    .revoke-message {
        color: rgb(42, 51, 101);
        font-weight: 600;
        font-size: 17pt;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.title {
    font-size: 24pt;
    font-weight: 600;
    padding-top: 11px;
    color: #626262;
    font-family: 'Forum', cursive;
}

.sub-title {
    font-family: 'Forum', cursive;
    font-size: 14pt;
    font-weight: 500;
    padding: 40px 0 10px 2px;
    color: #4979bc;
    text-transform: capitalize;
}

.revoke {
    font-family: 'Forum', cursive;
    font-size: 12pt;
    font-weight: 500;
}

.n-s {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-family: 'Great Vibes', cursive;
    font-size: 44pt;
    font-weight: 600;
    padding-top: 10px;
    color: #4979bc;
    text-transform: capitalize;
}

.p-1 {
    font-family: 'Forum', cursive;
    font-size: 13pt;
    font-weight: 500;
    padding-top: 10px;
    text-transform: capitalize;
    padding: 2rem 1rem 0.2rem 1rem;
    display: block;
    line-height: 35px;
    width: 100%;
    text-align: center;
    &.p-2 {
        padding-top: 0px;
    }
}

span {
    color: #4979bc;
}

.swiper.s-wrapper .swiper-wrapper .swiper-slide {
    overflow: hidden !important;
}

.siganature {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 2rem;
}

p.auth {
    font-family: 'Forum', cursive;
    font-size: 12pt;
    font-weight: 600;
    text-transform: capitalize;
}

.app-title {
    font-size: 24px;
}

.box-title {
    font-size: 20px;
}

.custom-modalbox {
    mat-dialog-container {
        box-shadow: none !important;
        background: transparent !important;
    }
    .mat-dialog-container {
        box-shadow: none !important;
        background: transparent !important;
    }
}

.box-container {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
}

.info-container {
    padding: 12px 16px;
    line-height: 24px;
}

.action-container,
.content-container {
    position: relative;
    overflow: hidden;
    height: 300px;
    min-height: 0;
    margin: 8px 16px;
    border-radius: 4px;
}

.action-container {
    padding: 16px;
}

.vertical-container,
.horizontal-container {
    min-height: 0 !important;
}

.action-button {
    box-sizing: border-box;
    width: calc(100% - 16px);
    min-height: 35px;
    padding: 4px 16px;
    margin: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
}

.action-button:hover {
    color: #fff;
    background-color: #555;
}

.swiper-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.td-n {
    text-decoration: none;
    outline: none;
}

.swiper-slide {
    width: 100% !important;
    margin-right: 0 !important;
    overflow: hidden !important;
}

.pr-2 {
    padding: 0 2rem 0 0;
}

.c-p {
    cursor: pointer;
}