.host-display {
    display: block;
    padding: 0 6rem;
}

.page-banner .crumbs-spacer {
    i {
        vertical-align: middle;
        font-size: 16px;
        margin: 5px 7px 10px 7px;
    }
    a {
        text-decoration: none;
    }
}

[class^=lni-],
[class*=" lni-"] {
    font-family: lineicons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lni-chevron-right:before {
    content: ">";
}

.page-banner {
    position: relative;
    min-height: 200px;
    color: #fff;
}

.page-banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.page-banner .page-banner-title {
    position: relative;
    // padding: 68px;
    top: 90px;
}

.text-center {
    text-align: center!important;
}

.page-banner .page-banner-title h2 {
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.page-banner a {
    color: #fff;
    font-size: 14px;
}

.example-card {
    max-width: 400px;
    height: auto;
    cursor: pointer;
    .mat-card:focus {
        outline: none;
    }
    .mat-card-content:focus {
        outline: none;
    }
}

.example-card:focus {
    outline: none;
}

.ot {
    outline: none;
}

.adderess {
    span {
        text-transform: capitalize;
    }
    display: flex;
    align-items: center;
}

.side-text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

.side-peoperty {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    margin-bottom: 0px;
    padding: 0 10px;
}

.mr-30 {
    margin: 0 10px;
}

.property-details .details {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.property-details .details .details-listing {
    float: left;
    width: 19%;
    text-align: center;
    &.width-30 {
        width: 30%;
    }
    &.width-50 {
        width: 50%;
    }
    &.width-100 {
        width: 100%;
        h5 {
            color: #272727;
            font-size: 36px;
            line-height: 36px;
            margin-top: 5px;
            font-weight: 100;
        }
    }
}

.property-details .details .details-listing p {
    margin-bottom: 0;
    color: #272727;
    line-height: 26px;
}

.property-details .details .details-listing h5 {
    margin: 0;
    font-size: 16px;
    color: #888;
}

.property-details .info h3 {
    font-size: 30px;
    color: #272727;
    margin-bottom: 8px;
}

.property-details .others {
    margin-top: 34px;
}

.property-details .others ul li {
    float: right;
    margin-left: 20px;
}

ul li,
ol li {
    list-style: none;
}

.property-details .others ul li span {
    color: #272727;
    font-size: 36px;
    line-height: 36px;
    margin-top: 5px;
}

.property-details .others ul li a {
    height: 40px;
    width: 40px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    background: #4064d7;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    .icon {
        position: relative;
        top: 0.3rem;
    }
}

.address {
    color: #727272;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-size: 14px;
    text-align: left;
    .icon {
        position: relative;
        top: 0.3rem;
    }
}

.property-details .info h3 span {
    background: #fb1d51;
    color: #ffffff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 9px;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

h3.title-property {
    text-align: left;
    text-transform: capitalize;
}

.clear {
    clear: both;
}

.z-depth-4 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

img.img-slide-show {
    width: 100%;
    height: 28rem;
    margin: 0;
}

img {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
    outline: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fav {
    &.cp {
        cursor: pointer;
    }
    a {
        height: 40px;
        width: 40px;
        font-size: 16px;
        line-height: 42px;
        text-align: center;
        background: #4064d7;
        color: #ffffff;
        border-radius: 50%;
        display: inline-block;
    }
    .icon {
        top: 10%;
        position: relative;
        left: 30%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.pro-title-icons {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 25px;
    .desc-title {
        margin: 10px 0px 0px 0px;
    }
}

.desc-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px 25px 0px;
    padding: 0px;
    font-weight: 100;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    line-height: 48px;
}

.sidebar-title {
    font-size: 18px;
    font-weight: 500;
    color: #272727;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-transform: capitalize;
    position: relative;
    line-height: 47.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mydialog {
    .mat-dialog-container {
        background: transparent;
        box-shadow: none;
    }
}

ul,
ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.additional-details {
    font-family: 'Open Sans', sans-serif;
    li {
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        padding: 0.2rem 0;
        strong {
            margin-right: 15px;
            font-weight: 600;
            color: #4d4c4c;
            font-size: 14px;
        }
    }
    span {
        color: #888;
        font-size: 14px;
        font-weight: 400;
    }
}

.property-features {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    li {
        color: #4d4c4c;
        display: block;
        margin: 0 0 7px 0;
        padding: 0;
        font-weight: 600;
    }
    span {
        color: #888;
        font-size: 14px;
        font-weight: 400;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

#conatiner-map {
    width: 100%;
    height: 630px;
}

.listing-own {
    padding: 1rem 0;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.pb-2 {
    padding-bottom: 2rem;
}

.m-t-2 {
    margin-top: 10px;
}

.status-property {
    background-size: cover;
    width: 50px;
    height: 50px;
}