@import '../pages/signin/signin.component.scss';
.section-container {
    background: #fc5c7d;
    background: -webkit-linear-gradient(to right, #6a82fb, #fc5c7d);
    background: linear-gradient(to right, #6a82fb, #fc5c7d);
    height: 500px;
    color: #fff;
    padding: 0 20px;
    .content {
        margin-top: 20px;
    }
}

.m-b-15 {
    margin-bottom: 3rem;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-logo {
    a {
        font-size: 28px;
        color: #fff;
        text-decoration: none;
    }
    margin: 20px 0 0 40px;
}

.nav {
    display: flex;
    li {
        display: flex;
        padding: 10px 20px;
        a {
            text-decoration: none;
            text-align: center;
            color: #fff;
        }
    }
}

.dual-bg {
    background: #474d5d;
    background: -moz-linear-gradient( left, #474d5d 0%, #383c49 50%, #474d5d 50%, #383c49 100%);
    background: -webkit-linear-gradient( left, #474d5d 0%, #383c49 50%, #474d5d 50%, #383c49 100%);
    background: linear-gradient( to right, #474d5d 0%, #383c49 50%, #474d5d 50%, #383c49 100%);
    filter: gradient(startColorstr='#474d5d', endColorstr='#383c49', GradientType=1);
}

.advantage-card {
    padding-right: 15px;
    padding-left: 15px;
    img {
        height: 44px;
    }
    mat-icon {
        font-size: 44px;
        height: 44px;
        width: 44px;
        color: #3f51b5;
    }
}

.footer {
    padding: 30px 0 30px;
    background: #263238;
    color: #80cbc4;
    a {
        color: #80cbc4;
        cursor: pointer;
    }
}

h2,
h4 {
    color: #313743;
    margin: 10px 0;
}

h4 {
    line-height: 22px;
    font-size: 18px;
    margin-top: 30px;
}

p {
    color: #838ea5;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.fix-width {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
}

.text-white {
    color: #fff;
}

.stbui-button {
    &-lg {
        padding: 6px 90px;
        font-size: 20px;
    }
}

.stbui-button-outline {
    border: 1px solid #3f51b5;
    color: #3f51b5;
    &:hover {
        background-color: #3f51b5;
        color: #fff;
    }
}

.stbui-button-block {
    width: 100%;
}

.product-container {
    background-color: #f6f6f6;
    color: #fff;
    padding: 20px;
    .product-card {
        margin-bottom: 40px;
    }
    .product-title,
    .product-subtitle {
        text-align: center;
        color: #333;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .product-title {
        font-size: 26px;
    }
    mat-card {
        margin: 0 10px;
    }
    .list-avatar-icon {
        font-size: 40px;
    }
}

.wrapper {
    width: 100vw;
    margin: 0 auto;
    // height: 400px;
    // background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {
    .wrapper {
        height: 700px;
    }
}

.content {
    max-width: 1024px;
    width: 100%;
    padding: 0 4%;
    padding-top: 8rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .content {
        padding-top: 300px;
        flex-direction: column;
    }
}

.card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    // background-color: #292929;
    background: rgba(255, 255, 255, 0.7);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    //border: 0.2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    //background: linear-gradient(90deg, #FF7E7E 0%, #FF4848 40%, rgba(0, 0, 0, 0.28) 60%);
    background: #4096ee;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4096ee 0%, #4096ee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4096ee 0%, #4096ee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4096ee 0%, #4096ee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    //color: white;
    color: rgba(0, 0, 0, .87);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.card .text {
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    //color: white;
    color: rgba(0, 0, 0, .87);
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}

.card:hover {
    height: 270px;
}

.card:hover .info {
    height: 90%;
}

.card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
}

.card:hover .icon i {
    background: #f0f9ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
}

// .adjest {
//     position: relative;
//     right: 180px;
// }