<div class="limiter">
    <div class="container-login100" style="background-image: url('../assets/images/bg-01.jpg');">
        <div class="fix-width">
            <div class="m-b-15" fxLayout="row" fxLayoutAlign="center center">
                <img src="../../assets/garuda.svg" width="250px">
            </div>
            <div fxLayout="row wrap" fxFlexAlign="center" fxLayoutGap="30px">
                <div class="wrapper">

                    <div class="content">
                        <!-- card -->
                        <div class="card" [routerLink]="['/login']">

                            <div class="icon"><i class="material-icons md-36">dashboard</i></div>
                            <p class="title">Admin</p>
                            <p class="text">UserName: admin@garuda.com</p>
                            <p class="text">Password: password</p>

                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="card" [routerLink]="['/login']">

                            <div class="icon"><i class="material-icons md-36">account_balance</i></div>
                            <p class="title">Government</p>
                            <p class="text">UserName: government@cognier.co</p>
                            <p class="text">Password: password</p>

                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="card" [routerLink]="['/login']">

                            <div class="icon"><i class="material-icons md-36 adjest">perm_identity</i></div>
                            <p class="title">Buyer/seller</p>
                            <p class="text">UserName: user@cognier.co</p>
                            <p class="text">Password: password</p>

                        </div>
                        <!-- end card -->



                    </div>
                </div>
                <!-- <mat-card fxFlex.gt-sm="30" fxFlex.gt-xs="31" fxFlex="100">
                    <img mat-card-image src="assets/images-demo/assets/1.png">
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-avatar class="list-avatar-icon">security</mat-icon>
                                <h3 mat-line>User Name : r@cogniermail.com</h3>
                                <p mat-line>
                                    <span>Password: password</span>
                                </p>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="stbui-button-block" mat-stroked-button color="primary">Login</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card fxFlex.gt-sm="30" fxFlex.gt-xs="31" fxFlex="100">
                    <img mat-card-image src="assets/images-demo/assets/2.png">
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-avatar class="list-avatar-icon">security</mat-icon>
                                <h3 mat-line>User Name : r@cogniermail.com</h3>
                                <p mat-line>
                                    <span>Password: password</span>
                                </p>
                            </mat-list-item>

                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="stbui-button-block" mat-stroked-button color="primary">Login</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card fxFlex.gt-sm="30" fxFlex.gt-xs="31" fxFlex="100">
                    <img mat-card-image src="assets/images-demo/assets/3.png">
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-avatar class="list-avatar-icon">security</mat-icon>
                                <h3 mat-line>User Name : r@cogniermail.com</h3>
                                <p mat-line>
                                    <span>Password: password</span>
                                </p>
                            </mat-list-item>

                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="stbui-button-block" mat-stroked-button color="primary">Login</button>
                    </mat-card-actions>
                </mat-card> -->
            </div>
        </div>
    </div>
</div>