<div fxLayout="row wrap" fxLayoutAlign="center start" fx class="m-t-15">
    <div fxFlex='33.333' class="divide">
        <mat-card>
            <mat-card-title>License <small>Distributor</small> </mat-card-title>
            <mat-card-content>
                <form>
                    <mat-form-field class="display-block">
                        <input matInput placeholder="No.Of Users">
                    </mat-form-field>
                    <mat-form-field class="display-block">
                        <input matInput placeholder="License Discount">
                    </mat-form-field>
                    <mat-form-field class="display-block">
                        <input matInput placeholder=" Device Discount">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" type="submit">Update</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex='33.333' class="divide">
        <mat-card>
            <mat-card-title>License <small>Companies</small> </mat-card-title>
            <mat-card-content>
                <form>
                    <mat-form-field class="display-block">
                        <input matInput placeholder="No.Of Users">
                    </mat-form-field>
                    <mat-form-field class="display-block">
                        <input matInput placeholder="License Discount">
                    </mat-form-field>
                    <mat-form-field class="display-block">
                        <input matInput placeholder=" Device Discount">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" type="submit">Update</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex='33.333' class="divide">
        <mat-card>
            <mat-card-title>License <small>Home Users</small> </mat-card-title>
            <mat-card-content>
                <form>
                    <mat-form-field class="display-block">
                        <input matInput placeholder="No.Of Users">
                    </mat-form-field>
                    <mat-form-field class="display-block">
                        <input matInput placeholder="License Discount">
                    </mat-form-field>
                    <mat-form-field class="display-block">
                        <input matInput placeholder=" Device Discount">
                    </mat-form-field>
                    <mat-form-field class="display-block">
                        <input matInput placeholder=" License Cost">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" type="submit">Update</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>